<head>
  <link rel="stylesheet" href="/static/example.css">

  <script src="/static/example.js"></script>
</head>

<h1 class="my-class" id="hello">
  The Three Doors of Destiny
</h1>

<div class="my-class"></div>

<p class="cushion">
  While walking in the arb, you come across three mysterious doors, each
  adorned with intricate carvings that seem to whisper secrets of the unknown. A 
  sense of anticipation fills the air as you realize the behind one of the doors lies
  one million dollars, while behind the other two lurk a pit of venomous snakes, eager
  to ensnare unwary passersby. <br> <br>

  Are you willing to take the risk?
</p>

</div>

<p class="center-para">
<button class="big-button" onclick="changeColor()">
   Change Color
</button>
</p>
