.my-class{
  text-align: center;
  color: white;
  background-color: darkgreen;
  font: Garamond;
  font-size: 50px;
}

.center-para{
  text-align: center;
  margin-top: 20px;
}

.big-button{
  text-align: center;
  font-size: large;
}

.center{
  margin: auto;
  padding: 70px 0;
  text-align: center;
}
