<head>
    <link rel="stylesheet" href="/static/example.css">
  
    <script src="/static/example.js"></script>
  </head>
  
  <h1 class="my-class" id="adv_title">
    The Three Doors of Destiny
  </h1>

  <div class="center_div">

    <p class="center-para" id="adv_par_1">
      Choose your path wisely
    </p>
    
    </div>

    <div class="row">
        <div class="center_image" style="width:100%">
            <img src="static/images/closed_door.png">
        </div>
        <div class="center_image" style="width:100%">
            <img src="static/images/closed_door.png">
        </div>
        <div class="center_image" style="width:100%">
            <img src="static/images/closed_door.png">
        </div>
    </div>
    

  