<head>
    <link rel="stylesheet" href="/static/example.css">
  
    <script src="/static/example.js"></script>
  </head>
  
  <h1 class="my-class" id="adv_title">
    The Three Doors of Destiny
  </h1>

  <div class="center_div">

    <p class="center-para" id="adv_par_1">
      Click one of the doors below!
    </p>
    
    </div>

    <div class="row">
        <div class="column" style="width:75%">
            <img src="static/images/closed_door.png" class="center_image" id="img1", onclick=reveal(this.id)>
        </div>
        <div class="column" style="width:75%">
            <img src="static/images/closed_door.png" class="center_image" id="img2", onclick=reveal(this.id)>
        </div>
        <div class="column" style="width:75%">
            <img src="static/images/closed_door.png" class="center_image" id="img3", onclick=reveal(this.id)>
        </div>
    </div>

    <p class="center-para_hidden" id="adv_results">
        you
    </p>
    
    <p class="center-para">

        <a href="/adventure">
        <button class="hidden_button" id=adv_button>
         Try Again!
        </button>
        </a>
      
        <a href="/quit">
        <button class="hidden_button" id=quit_button onclick="changeColor()">
        Return to Homepage
          </button>
        </a>
      
      </p>

  