<head>
    <link rel="stylesheet" href="/static/example.css">
  
    <script src="/static/example.js"></script>
  </head>
  
  <h1 class="my-class" id="adv_title">
    The Three Doors of Destiny
  </h1>

  <div class="center_div">

    <p class="center-para" id="adv_par_1">
      Choose your path wisely and click on one of the doors below
    </p>
    
    </div>

    <div class="row">
        <div class="column" style="width:75%">
            <img src="static/images/closed_door.png" class="center_image" id="img1", onclick=reveal(this.id)>
        </div>
        <div class="column" style="width:75%">
            <img src="static/images/closed_door.png" class="center_image" id="img1", onclick=reveal(this.id)>
        </div>
        <div class="column" style="width:75%">
            <img src="static/images/closed_door.png" class="center_image" id="img1", onclick=reveal(this.id)>
        </div>
    </div>
    

  