<head>
  <link rel="stylesheet" href="/static/example.css">

  <script src="/static/example.js"></script>
</head>

<h1 class="my-class" id="Title">
  The Three Doors of Destiny
</h1>


<div class="center_div">

<p class="center-para" id="par1">
  While walking in the arb, you come across three mysterious doors, each
  adorned with intricate carvings that seem to whisper secrets of the unknown. A 
  sense of anticipation fills the air as you realize the behind one of the doors lies
  one million dollars, while behind the other two lurk a pit of venomous snakes, eager
  to ensnare unwary passersby. <br> <br>

  Are you willing to take the risk?
</p>

</div>

<p class="center-para">

  <a href="/adventure">
  <button class="big-button" id=adv_button>
   Let's go!
  </button>
  </a>

  <a href="/quit">
  <button class="big-button" id=quit_button onclick="changeColor()">
  I'd rather not.
    </button>
  </a>

</p>
