<head>
    <link rel="stylesheet" href="/static/example.css">
  
    <script src="/static/example.js"></script>
  </head>

  <h1 class="my-class_lost" id="Title">
    The Three Doors of Destiny
  </h1>

  <div class="center_div">

    <p class="center-para" id="par1">
      While attempting to walk away, you were bitten by a venomous snake! 
      Unforunately you died.

    <img src="static/images/snake.png" alt="NEED TO DO" class="center_image">

    </div>

    </p>

    <p class="center-para">
      Go back in time?

      <a href="/">
        <button class="big-button" id=adv_button>
         Let's go!
        </button>
        </a>
    </p>

