<head>
    <link rel="stylesheet" href="/static/example.css">
  
    <script src="/static/example.js"></script>
  </head>

  <h1 class="my-class_lost" id="Title">
    The Three Doors of Destiny
  </h1>

  <div class="center_div">

    <p class="center-para" id="par1">
      While attempting to walk away, you were bitten by a venomous snake! 
      Unforunately you died. <br> <br>
    
      Go back in time?
    </p>

    </div>
    
    <p class="center-para">

        <a href="/">
        <button class="big-button" id=adv_button>
         Let's go!
        </button>
        </a>
    </p>