.my-class{
  text-align: center;
  color: white;
  background-color: darkgreen;
  font: Garamond;
  font-size: 70px;
}

.my-class_lost{
  text-align: center;
  color: red;
  background-color: darkgreen;
  font: Garamond;
  font-size: 50px;
}

.center-para{
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
}

.big-button{
  text-align: center;
  font-size: large;
}

.center_div{
  padding: 20px 0;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.center_image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.row{
  display: flex;
}

.column{
  flex: 33.33%;
  padding: 5px;
}
